/build/
/Default/
/memory/
t
t.c
*.o
**/*.d
*.so
.depen*
*.img
*.iso
*.log
.DS_Store
.cache/
tools/makeuser
tools/makereg
tools/ubistry.db
tools/doom1.wad
tools/userdb
etc/userdb
.netsurf-stage/
contrib/netsurf/build/
contrib/netsurf-nsgenbind/build-*/
.buildlock
